<nav class="db dt-l w-100 pa3 pa4-l pt5 border-box">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb3 mb0-l" href="/" title="Home">
        <div class="b f3">Richard Saunders</div>
        <div class="f5 f4-l">Urban explorer & photographer</div>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link f5 dib b mr3 mr4-l" href="/about/" title="About">About</a>
        <a class="link f5 dib b mr3 mr4-l" href="#" title="Twitter">Twitter</a>
       <!-- <a class="link f5 dib b" href="#" title="Cart">Cart</a>-->
    </div>
</nav>